<div class="tile tile-primary">
    <div class="tile-heading">{{ heading_title }}</div>
    <div class="tile-body"><i class="fa fa-laptop"></i>
        <h2 class="pull-right">Дата последней загрузки, сколько товаров, есть ли ошибки</h2>
    </div>
    <div class="tile-footer"><a href="xxx">xxx</a></div>
</div>
