.list-group-item {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}

.list-group-item .badge {
    justify-content: flex-end;
    margin-left: 10px;
}

.treeview span.node-icon {
    width: 0px !important;
}

.custom-tree-node > span {
    margin-right: 10px;
}

.catname {
    flex-grow: 10;
}

.catmarkup input {
    max-width: 35px;
    text-align: right;
}

.custom-tree-node input, .custom-tree-node .el-input-group__append, .custom-tree-node .el-input-group__prepend {
    padding: 0 5px;
}

.el-tree-node__content > .el-checkbox {
    margin-right: 0 !important;
}